{%extends 'base.html'%}
{%block body_block%}

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
           {%for m in messages%}
               {%if m.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
               <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{m}}</strong> You should check in on some of those fields below.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
               {%endif%}
               {%if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
               <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{m}}</strong> You should check in on some of those fields below.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
               {%endif%}
           {%endfor%}
    </div>
    <div class="col-4"></div>
  </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
            <form action="" method="Post">
                  {%csrf_token%}
    
                  {{form.as_p}}
    
                <button class="btn btn-info" type="submit">add</button>
            </form>
    
            </div>
            <div class="col-4"></div>
        </div>
        
    {%endblock%}